/*BODY*/
body {
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.dailyWordGame {
    font-size: 52px;
    margin-bottom: 4px;
    margin-top: 7px;
}

/* DIRECTIONS SECTION */
#directionButton {
    font-size: 16px;
    background-color: #2b8717d4;
    color: white;
    border: solid 5px;
    border-color: #b2b2b2 #2b8717d4 #2b8717d4 #b2b2b2;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 6px 10px;
    cursor: pointer;
}
#directionButton:hover {
    background-color: #2b8717d4;
    border-color: #2b8717d4 #b2b2b2 #b2b2b2 #2b8717d4;
}
#directionButton:active {
    background-color: #207A0C;
    border: #2b8717d4 solid 5px;
}
#instructions {
    display: none;
    position: absolute;
    background-color: hsla(0, 0%, 100%, 0.8);
    top: 138px;
    height: 410px;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    line-height: 35px;
    border: outset 25px;
    padding-left: 40px;
    padding-right: 40px;
}
#instructions h2 {
    font-family: sans-serif;
    margin-bottom: 0px;
}


#greenWord {
    color: #2C8717;
    font-weight: bold;
}
#yellowWord {
    color: #D6C100;
    font-weight: bold;
}
#grayWord {
    color: gray;
    font-weight: bold;
}

/*LETTERS SECTION*/
.letters {
    display: flex;
    justify-content: center;
    border: 5px solid lightgray;
    color: black;
    font-size: 40px;
    text-transform: uppercase;

}
.lettersSection {
    display: grid;
    grid: repeat(6, 65px) / repeat(5, 70px);
    gap: 12px 7px;
    margin-top: 10px;
}
/*KEYBOARD*/
.alphabet1 {
    display: inline-flex;
    gap: 5px 3px;
    margin-top: 25px;
}
.alphabet2 {
    display: inline-flex;
    gap: 5px 3px;
    margin-top: 10px;
}
.alphabet3 {
    display: inline-flex;
    gap: 5px 3px;
    margin-top: 10px;
}
.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(128, 128, 128, 0.126);
    border-radius: 5px;
    color: black;
    background-color: lightgrey;
    font-size: 20px;
    height: 50px;
    width: 50px;
    font-family: sans-serif;
    cursor: pointer;
}
.blabla {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;
    background-color: lightgrey;
    font-size: 12px;
    height: 50px;
    width: 85px;
    font-family: sans-serif;
    cursor: pointer;
}
#enter {
    background-color: #2b8717d4;
    color: white;
    border: 3px solid rgba(128, 128, 128, 0.6);
}
#back {
    background-color: #d6c100d5;
    color: white;
    border: 3px solid rgba(128, 128, 128, 0.2);
}

/*COLORS*/
.wrong {
    background-color: gray;
}

.correct {
    background-color: #2C8717;
}
.correctkeyboard {
    background-color: #458736 !important;
}

.close {
    background-color: #D6C100;
}
.closekeyboard {
    background-color: #D6C740;
}

/*YOU WIN*/
.trophy {
    position: absolute;
    top: 300px;
}


